@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

div.mainWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  flex: 1;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.main .icon {
  width: 54px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 1rem 0;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 620px;
}

textarea.formTextarea {
  margin-top: 0;
}

.main input[type="text"],
.main input[type="password"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #10a37f;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.loadingButton {
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.5), transparent);
  background-size: 200% 100%; 
  animation: slide 0.5s infinite linear;

  /* You might want to adjust other properties to make the button look disabled, like changing the text color, etc. */
  pointer-events: none; /* This will make sure button is not clickable when loading */
  color: #999; /* Change the text color to a lighter shade */
}
div.redirectHeader {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0.2rem;
  z-index: 10;
  position: relative;
  background: linear-gradient(135deg, #fff, #eee);
  font-family: sans-serif;
}

@keyframes slide {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.main .result {
  font-weight: bold;
  margin-top: 40px;
}

div.modalButtonContainer {
  display: flex;
  justify-content:space-around;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.logoutModal {
  justify-content: flex-end;
  align-items: flex-start;  
}


.modal {
  width: 250px;
  padding: 20px;
  margin: 5rem 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal button {
  padding: 10px 15px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #0056b3;
}

.dateInput {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
}

div.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer {
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.loginHeader {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  position: relative;
}

.loginInput {
  padding: 10px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.loginInput:focus {
  border-color: #007BFF;
  outline: none;
}

.loginButton {
  width: 100%;
  padding: 10px 15px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}

.loginButton:active {
  background-color: #004396;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mascotContainer {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mascotImage {
  max-width: 150px; /* You can adjust this based on the desired size of the mascot. */
}

.speechBubble {
  padding: 10px 15px;
  margin-bottom: 1rem;
  max-width: 60%;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
}

.taskListContainer {
  max-width: 450px;
  margin: 20px auto;
  padding: 0 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: max-height 0.5s;
  overflow: hidden;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}

.taskItem:last-child {
  border-bottom: none;
}

.taskDone,
.taskPending {
  font-size: 16px;
  flex: 1;
  margin-right: 20px;
}

.taskDone {
  color: #4CAF50; /* Green color indicates completed tasks */
}

.taskPending {
  color: #FF5722; /* Orange-red color indicates pending tasks */
}

.taskDone,
.taskPending {
    font-size: clamp(12px, 2.5vw, 16px);  /* min-size, preferred size, max-size */
    flex: 1;
    margin-right: 20px;
}

.taskActionButton {
  padding: 8px 15px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: clamp(10px, 2vw, 14px);  /* min-size, preferred size, max-size */
}

.taskActionButton:hover {
  background-color: #0056b3;
}

.taskActionButton:active {
  background-color: #004396;
}

.menuContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.hamburgerIcon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.pulloutMenu {
  position: absolute;
  top: 40px;
  right: 0;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pulloutMenu button {
  width: 100%;
  padding: 5px 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pulloutMenu button:hover {
  background-color: #0056b3;
}

div.exampleGrid {
  display: grid;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 50% 50%;
  width: 60%;
  max-height: 100rem;
  transition: max-height 0.5s;
  background: #eee;
}

div.hideExample {
  max-height: 1.5rem;
}

span.exampleHeader {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

div.activityDisplayWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
  max-width: 620px;
  font-size: 0.9rem;
}

div.activity {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-right: #eee 1px solid;
  border-bottom: #eee 1px solid;
  padding: 0.5rem;
  background: #f8f8f8;
}

span.activityHeader {
  font-size: 1.3rem;
  text-align: center;
}

div.activityData {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button.activityTimeButton {
  border: 0;
  background: transparent;
  padding: 0;
  font-size: unset;
  color: unset;
  font-family: unset;
}

button.deleteActivity {
  border: 0;
  background: transparent;
  padding: 0;
  font-size: unset;
  color: #800;
  font-family: unset;
}

.main ul {
  width: 100%;
}

.activityEntry {
  border-bottom: #8e8ea0 0px solid;
  padding-bottom: 0.2rem;
  text-align: center;
}